@use '@angular/material' as mat;

@include mat.core();

$primary-palette: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$accent-palette: mat.m2-define-palette(mat.$m2-orange-palette, 500, 300, 700);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette
    )
  )
);

@include mat.all-component-themes($theme);

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: #e2e8f0;
}

h1,
h2,
h3 {
  color: #0f172a;
}